*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.calculatrice{
    /* height: 50%; */
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px black;

}

.ecran{
    width: 100%;
    height: 100px;
    background-color: cornsilk;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
    

    
}


.touches{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5,50px);
    grid-gap: 5px;
  

}

.bouton{
    border-radius: 50px;
    background-color: coral;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.bouton:active{
    box-shadow: 0 1px #ccc;
    transform: translateY(2px);
}



